<!-- Contacto -->
<section id="contacto" class="main style2 special">
  <div class="container">
    <header class="major">
      <h2>¿Cómo hago para recibir más información?</h2>
    </header>
    <p>Escríbanos por medio de nuestro formulario o visite nuestro perfil de Facebook.</p>
    <ul class="actions uniform">
      <li><a href="https://emena.typeform.com/to/diCa69" class="button special typeform-share link" data-mode="2" target="_blank"><i class="fa fa-envelope-o"></i> Contáctenos</a></li>
      <li><a href="https://www.facebook.com/RenacerCr" class="button" target="_blank"><i class="fa fa-facebook-f"></i> Facebook</a></li>
    </ul>
  </div>
</section>
