<!-- Footer -->
<section id="footer">
  <!--<ul class="icons">
    <li><a href="https://www.facebook.com/GrupoRenacerCr" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
  </ul>-->
  <ul class="copyright">
    <li>&copy; {{ site.title }}</li><li>Desarrollo: <a href="https://guayo.me">Guayo</a></li>
  </ul>
</section>
<!-- Scripts -->
<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.scrolly.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/util.min.js" | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

<script src="{{ "/js/main.min.js" | prepend: site.baseurl }}"></script>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
