<header class="site-header">
  <div class="container">
    <div class="row 150%">
      <div class="8u 12u$(xsmall)">
        <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-mini.png" alt="Grupo Renacer Logo"/><h1>{{ site.title }}</h1></a>
      </div>
      <div class="4u 12u$(xsmall)">
        <nav class="site-nav">
          <ul>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="#contacto" class="scrolly">Contacto</a></li>
          </ul>
        </nav>
      </did>
  </div>
</header>
