<header class="site-header">
  <div class="container">
    <div class="row 150%">
      <div class="6u 12u$(medium)">
        <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo-mini.png" alt="Grupo Renacer Logo"/>{{ site.title }}</a>
      </div>
      <div class="6u 12u$(medium)">
        <nav class="site-nav">
          <ul>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="#contacto" class="scrolly">Contacto</a></li>
          </ul>
        </nav>
      </did>
  </div>
</header>
